@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #24252A;
    position: relative;
    box-sizing: border-box;
    color: #edf0f1;
}

/* Header Formatting */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: sticky;
    top: 0;
    background-color: 24252A;
    z-index: 10;
}

img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-right: 30px;
}

#company-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    color: #edf0f1;
    margin-right: auto;

}

#nav-bar {
    list-style: none;
}

#nav-bar li {
    display: inline-block;
    padding: 0 20px;
}

#nav-bar li a {
    transition: all 0.3s ease 0s;
    font-family: 'Roboto Slab', 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

#nav-bar li a:hover {
    transition: all 0.3s ease 0s;
    color: #0088a9;
}

/* Form + H2 Formatting */
#sign-up {
    padding: 30px 10%;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    color: #edf0f1;
}

h2 {
    padding: 10px;
}

#form {
    padding: 10px;
    line-height: 2;
    font-family: 'Roboto Slab', sans-serif;
}

#form input {
    color: #edf0f1;
}

#form #email {
    line-height: 2.5;
    margin: 10px 0;
    width: 300px;
}

#submit {
    background-color: rgb(8, 151, 104);
    border: 0;
    padding: 10px;
    font-family: 'Lato';
    text-transform: uppercase;
    font-weight: 700;
}

/* Features Formatting */

/* 
 1. Use flexbox on each feature-set
 2. It should be columnar with 
    Column 1 = Picture
    Column 2 = Header + Desc
3. Border around flexbox light gray
*/

#features {
    box-sizing: border-box;
    padding: 0 10%;
}

.feature-set {
    display: flex;
    padding: 20px 10px;
    padding-left: 20px;
    margin: 40px 0;
    align-items: center;
}

.fs {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.fs-header {
    font-family: 'Roboto Slab', 'Lato', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}

.fs-desc {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #edf0f1b2
}

/* Pricing Formatting */
#pricing {
    display: flex;
    padding: 40px 10%;
    justify-content: space-between;
    box-sizing: border-box;
}

.pricing-options {
    display: flex;
    flex-direction: column;
    border: 1px dashed #edf0f1;
    text-align: center;
    line-height: 2;
    align-items: center;
    width: 30%;
    align-items: center;
}

.pricing-options>.p-header {
    background-color: #0088a9;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #edf0f1;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}

.pricing-options>.p-price {
    font-weight: bold;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin: 20px 0;
    font-size: 1.2rem;
}

.pricing-options>.p-options ul li {
    list-style: none;
}

.pricing-options > .p-select {
    border: 0;
    width: 50%;
    height: 30px;
    text-transform: uppercase;
    background-color: rgb(8, 151, 104);
    margin: 10px 0;
    font-weight: bold;
}